---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero region flow">
    <h1>AI Tools</h1>
    <p>A collection of AI tools to enhance your productivity and creativity.</p>
  </div>

  <div class="region flow">
    <a class="button w-full" href="/prompt">Prompt Generator</a>
  </div>
</Layout>
